@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Proxima Soft";
	src: url("../fonts/ProximaSoft-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Soft";
	src: url("../fonts/ProximaSoft-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

body {
	font-family: "Proxima Soft";
}
